# Analysis
$Mahsa Bakhtiari$

In [1]:
from datetime import datetime
import pandas as pd

In [2]:
data = pd.read_csv('./Resources/data.csv', index_col='Unnamed: 0')

In [3]:
data.head(2)

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments
0,1949-10-10 20:30:00,2700,san marcos,tx,us,29.883056,-97.941111,cylinder,This event took place in early fall around 194...
3,1956-10-10 21:00:00,20,edna,tx,us,28.978333,-96.645833,circle,My older brother and twin sister were leaving ...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66516 entries, 0 to 80331
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           66516 non-null  object
 1   duration (seconds)  66516 non-null  int64
 2   city                66516 non-null  object
 3   state               66516 non-null  object
 4   country             66516 non-null  object
 5   latitude            66516 non-null  float64
 6   longitude           66516 non-null  float64
 7   shape               66516 non-null  object
 8   comments            66516 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.1+ MB

In [5]:
data["timestamp"] = pd.to_datetime(data["timestamp"])

In [6]:
data["date"] = data["timestamp"].map(lambda x: x.date())

In [7]:
data["time"] = data["timestamp"].map(lambda x: x.time())

In [8]:
data.head(2)

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
0,1949-10-10 20:30:00,2700,san marcos,tx,us,29.883056,-97.941111,cylinder,This event took place in early fall around 194...,1949-10-10,20:30:00
3,1956-10-10 21:00:00,20,edna,tx,us,28.978333,-96.645833,circle,My older brother and twin sister were leaving ...,1956-10-10,21:00:00

In [9]:
target = data.groupby(["date"])["date"].count()

In [10]:
#target = pd.DataFrame(data=target, index=None).reset_index()
target = target.loc[lambda x: x>10]

In [11]:
dates = target.index.tolist()

In [12]:
data.loc[data.date == dates[0]]

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
46934,1963-06-01 00:00:00,900,cocoa,fl,us,28.385833,-80.742222,unknown,We are not alone&#44 I swear it before God Al...,1963-06-01,00:00:00
46935,1963-06-01 02:00:00,300,st. louis county,mo,us,38.627222,-90.197778,cigar,Cigar shaped craft hovering over swimming pool...,1963-06-01,02:00:00
46936,1963-06-01 08:30:00,30,gonzales,tx,us,29.501389,-97.452222,cigar,Object was cigar shaped&#44lights along side a...,1963-06-01,08:30:00
46937,1963-06-01 11:00:00,1200,albemarle,nc,us,35.350000,-80.200278,disk,outside playling &#44neighbor starting yelling...,1963-06-01,11:00:00
46938,1963-06-01 12:00:00,300,houston,tx,us,29.763056,-95.363056,cigar,Cigar shaped UFO over north Houston&#44&#44 b...,1963-06-01,12:00:00
46939,1963-06-01 13:00:00,60,kirksey,ky,us,36.698611,-88.395278,triangle,Triangle shaped UFO seen in daytime in 1963 in...,1963-06-01,13:00:00
46940,1963-06-01 16:00:00,900,waukegan,il,us,42.363611,-87.844722,formation,Group of stationary objects high in afternoon ...,1963-06-01,16:00:00
46941,1963-06-01 18:00:00,180,royal oak,mi,us,42.489444,-83.144722,triangle,A hovering triangular craft&#44 with moving wh...,1963-06-01,18:00:00
46942,1963-06-01 20:00:00,120,laguna beach (south),ca,us,33.542222,-117.782222,light,USO(s) - Unidentified Submerged Object(s) -- y...,1963-06-01,20:00:00
46943,1963-06-01 21:00:00,300,rodeo,ca,us,38.033056,-122.265833,sphere,Blue humming and vibrating sphere in my room,1963-06-01,21:00:00
46945,1963-06-01 23:00:00,300,colorado springs (mtns. nw of),co,us,38.833889,-104.820833,disk,UFO hovered and made right angle turns before ...,1963-06-01,23:00:00
46946,1963-06-01 00:00:00,259200,san francisco,ca,us,37.775000,-122.418333,disk,San Francisco man&#44 then 22&#44 reported det...,1963-06-01,00:00:00

In [13]:
def sametime(date):
    x = data.loc[data.date == date]
    n = x["country"].nunique()
    return n > 2

In [14]:
valid_dates = []
for d in dates:
    if sametime(d) == True: 
        valid_dates.append(d)

In [15]:
valid_dates

[datetime.date(1978, 6, 1),
 datetime.date(2000, 6, 15),
 datetime.date(2003, 11, 22),
 datetime.date(2007, 4, 29),
 datetime.date(2013, 10, 3)]

In [16]:
observ_one = data.loc[data.date == valid_dates[0]].sort_values(by="time")

In [17]:
observ_one

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
47220,1978-06-01 00:00:00,7200,grants pass,or,us,42.439167,-123.327222,disk,Object landed on corner of street. Stayed the...,1978-06-01,00:00:00
47221,1978-06-01 00:30:00,15,grand saline,tx,us,32.673333,-95.709167,light,Blinding white light over my pickup then sudde...,1978-06-01,00:30:00
47222,1978-06-01 01:00:00,180,calgary (west of) (canada),ab,ca,51.083333,-114.083333,circle,fierey wheel seen over canadian rockies.,1978-06-01,01:00:00
47223,1978-06-01 01:00:00,1800,marshall,il,us,39.391389,-87.693611,cigar,Silent blimp directly above us. No sound or mo...,1978-06-01,01:00:00
47224,1978-06-01 03:00:00,5,lancaster,oh,us,39.713611,-82.599444,sphere,Moving from the North to the south &#44 a very...,1978-06-01,03:00:00
47225,1978-06-01 06:30:00,900,felixstowe (uk/england),nt,gb,51.966667,1.350000,sphere,jUST TO MAKE SURE PLEASE DO NOT INCLUDE MY NA...,1978-06-01,06:30:00
47226,1978-06-01 12:00:00,120,hudsonville,mi,us,42.870833,-85.865000,other,rectangular football field length white steel ...,1978-06-01,12:00:00
47227,1978-06-01 13:00:00,60,katy,tx,us,29.785556,-95.824167,egg,egg shaped metalic object viewed over Katy&#44...,1978-06-01,13:00:00
47230,1978-06-01 18:00:00,900,attica,mi,us,43.030278,-83.166111,oval,feeling as i was pulled toward the craft that ...,1978-06-01,18:00:00
47231,1978-06-01 18:00:00,14400,fulton,mo,us,38.846667,-91.947778,fireball,My friend &amp; I had 4 hours of missing time.,1978-06-01,18:00:00
47234,1978-06-01 19:00:00,900,pensacola,fl,us,30.421111,-87.216944,oval,Pensacola&#44 FL- a space craft of immese size...,1978-06-01,19:00:00
47233,1978-06-01 19:00:00,120,north adams,ma,us,42.700833,-73.109167,sphere,Hi This is a sighting my mother had of a UFO&#...,1978-06-01,19:00:00
47235,1978-06-01 20:00:00,1200,elsberry,mo,us,39.166667,-90.780833,light,MISSOURI INVESTIGATORS GROUP Report: My famil...,1978-06-01,20:00:00
47236,1978-06-01 20:00:00,600,ocean city,nj,us,39.277500,-74.575000,triangle,Ocean City&#44 NJ&#44 triangle of 3 lights&#44...,1978-06-01,20:00:00
47237,1978-06-01 20:00:00,3600,philadelphia,pa,us,39.952222,-75.164167,other,Smaller craft came out of a slit in the sky ab...,1978-06-01,20:00:00
47238,1978-06-01 21:00:00,900,columbia,sc,us,34.000556,-81.035000,circle,A large circular craft with many different col...,1978-06-01,21:00:00
47240,1978-06-01 21:00:00,120,paterson,nj,us,40.916667,-74.172222,disk,UFO on the night of the Paterson Falls View Fe...,1978-06-01,21:00:00
47241,1978-06-01 21:30:00,300,lee park,pa,us,41.231111,-75.915000,disk,very bright light (white/purple) at the center...,1978-06-01,21:30:00
47246,1978-06-01 22:00:00,30,victoria,tx,us,28.805000,-97.003333,oval,UFO seen over Texas skys in the late &#3970s,1978-06-01,22:00:00
47242,1978-06-01 22:00:00,900,bourbonnais,il,us,41.141667,-87.875000,disk,I remember this experience though I was very y...,1978-06-01,22:00:00
47244,1978-06-01 22:00:00,5,paxton,il,us,40.460278,-88.095278,unknown,White beacon of rotating white light followed ...,1978-06-01,22:00:00
47245,1978-06-01 22:00:00,1800,sterling park (near dulles airport),va,us,39.003611,-77.400833,disk,My brother&#44 sister and I saw several strang...,1978-06-01,22:00:00
47247,1978-06-01 22:30:00,240,dryden (canada),on,ca,49.783333,-92.833333,sphere,2 ufo&#39s over Dryden&#44Ont&#44late 70&#39s,1978-06-01,22:30:00

In [18]:
observ_one['shape'].unique()

array(['disk', 'light', 'circle', 'cigar', 'sphere', 'other', 'egg',
       'oval', 'fireball', 'triangle', 'unknown'], dtype=object)

In [19]:
one = observ_one.to_json(orient="records")
with open("./Resources/dateOne.json", "w") as outfile:
    outfile.write(one)

In [20]:
observ_two = data.loc[data.date == valid_dates[1]].sort_values(by="time")

In [21]:
observ_two

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
49166,2000-06-15 01:00:00,3,vancouver (canada),bc,ca,49.250000,-123.133333,triangle,3 boomerang shaped lights moving sighlently ac...,2000-06-15,01:00:00
49167,2000-06-15 02:00:00,300,eugene,or,us,44.052222,-123.085556,triangle,&quot;DELTA&quot; SHAPED OBJECT FLYS OVER AT 2...,2000-06-15,02:00:00
49168,2000-06-15 03:00:00,60,los angeles,ca,us,34.052222,-118.242778,unknown,it didn&#39t make any sound&#44 no light beams...,2000-06-15,03:00:00
49169,2000-06-15 05:00:00,1200,dayton (wright-patterson afb),oh,us,39.758889,-84.191667,other,WPAFB Dayton OH&#44 3 cloud ufos&#44 we were s...,2000-06-15,05:00:00
49170,2000-06-15 12:28:00,2,lincoln park,mi,us,42.250556,-83.178611,other,The object was approximately 24-36 inches in l...,2000-06-15,12:28:00
49174,2000-06-15 18:30:00,5,chanhassen,mn,us,44.862222,-93.530556,disk,I saw a quick glimpse of two dark orange sandy...,2000-06-15,18:30:00
49176,2000-06-15 21:00:00,300,findlay,oh,us,41.044167,-83.650000,oval,I SAW THIS UFO COMING HOME FROM A SOCCER GAME....,2000-06-15,21:00:00
49177,2000-06-15 21:00:00,120,stratford,tx,us,36.336111,-102.071667,triangle,This is an UFO to me&#44 I am just curious if ...,2000-06-15,21:00:00
49178,2000-06-15 21:30:00,300,darwin (nt&#44 australia),nt,au,-12.457220,130.836639,other,golden orbs travelling in a line.,2000-06-15,21:30:00
49179,2000-06-15 22:00:00,15,cape may court house,nj,us,39.082500,-74.824167,light,Light instantly stopped moved instantly a few ...,2000-06-15,22:00:00
49180,2000-06-15 22:00:00,30,solon,oh,us,41.389722,-81.441389,circle,red glowing circular object moving at high speed,2000-06-15,22:00:00
49181,2000-06-15 23:00:00,600,millville,nj,us,39.401944,-75.039722,triangle,unknown black triangle,2000-06-15,23:00:00
49183,2000-06-15 23:00:00,300,sparks,nv,us,39.535000,-119.751667,light,Craftt&#44 appearing much like a star&#44 move...,2000-06-15,23:00:00
49185,2000-06-15 23:11:00,25,seattle,wa,us,47.606389,-122.330833,other,UFO seen crossing I-5 Ship Canal Bridge from E...,2000-06-15,23:11:00
49186,2000-06-15 23:45:00,900,ringwood,il,us,42.392222,-88.296944,light,We witnessed 4 swirling balls of light that me...,2000-06-15,23:45:00

In [22]:
observ_two['shape'].unique()

array(['triangle', 'unknown', 'other', 'disk', 'oval', 'light', 'circle'],
      dtype=object)

In [23]:
two = observ_two.to_json(orient="records")
with open("./Resources/dateTwo.json", "w") as outfile:
    outfile.write(two)

In [24]:
observ_three = data.loc[data.date == valid_dates[2]].sort_values(by="time")

In [25]:
observ_three

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
12297,2003-11-22 00:30:00,10,harding (near),wv,us,38.948056,-79.959444,disk,Transluscent disc shaped ufo flying right at u...,2003-11-22,00:30:00
12298,2003-11-22 02:30:00,3600,livermore,ca,us,37.681944,-121.766944,light,Space battle in the eastern sky?,2003-11-22,02:30:00
12299,2003-11-22 05:00:00,900,murrells inlet,sc,us,33.550833,-79.041667,circle,cluster of white lights &quot;hopscotching&quo...,2003-11-22,05:00:00
12300,2003-11-22 06:30:00,30,tunkhannock,pa,us,41.538611,-75.946944,triangle,triangle aircraft with white lights on corners...,2003-11-22,06:30:00
12301,2003-11-22 09:20:00,4,florence,al,us,34.799722,-87.677222,triangle,A fast triangular-shape without any noise whic...,2003-11-22,09:20:00
12302,2003-11-22 11:30:00,1,calhoun (north of),ga,us,34.502500,-84.951111,circle,Circular metallic gray object in the sky in fr...,2003-11-22,11:30:00
12303,2003-11-22 14:10:00,600,spartanburg,sc,us,34.949444,-81.932222,other,Eight&#44 small star-like objects were seen fl...,2003-11-22,14:10:00
12304,2003-11-22 18:24:00,240,dacusville,sc,us,34.935278,-82.558889,light,Three star like lights following the ISS,2003-11-22,18:24:00
12305,2003-11-22 18:25:00,900,ronkonkoma,ny,us,40.815278,-73.112778,circle,darting circle that shot staright up and a red...,2003-11-22,18:25:00
12306,2003-11-22 19:25:00,10,los angeles,ca,us,34.052222,-118.242778,light,Peculiar light&#44 the apparent size of a star...,2003-11-22,19:25:00
12308,2003-11-22 19:30:00,15,vista,ca,us,33.200000,-117.241667,triangle,two crafts were sighted moving north to south ...,2003-11-22,19:30:00
12307,2003-11-22 19:30:00,10,vista,ca,us,33.200000,-117.241667,triangle,The first craft was in had 3-5 small dim blue ...,2003-11-22,19:30:00
12309,2003-11-22 20:20:00,10,dahlonega,ga,us,34.532500,-83.985000,circle,A large&#44 white moon-like object fell out of...,2003-11-22,20:20:00
12310,2003-11-22 20:30:00,8,albany,ny,us,42.652500,-73.756667,other,Dim yellow lights on a solid object moving sil...,2003-11-22,20:30:00
12311,2003-11-22 20:50:00,600,fleetwood (lancashire) (uk/england),la,gb,53.916667,-3.000000,circle,My friends daughter phoned her father to say t...,2003-11-22,20:50:00
12313,2003-11-22 21:25:00,2,bardstown,ky,us,37.809167,-85.466944,other,The object passed very fast from right to left...,2003-11-22,21:25:00
12314,2003-11-22 22:30:00,1200,airdrie (canada),ab,ca,51.266667,-114.016667,unknown,HBCCUFO CANADIAN REPORT: Beam of light comes ...,2003-11-22,22:30:00
12315,2003-11-22 23:00:00,1200,georgetown,ms,us,31.871389,-90.164444,light,We noticed a light in the sky we first thought...,2003-11-22,23:00:00
12316,2003-11-22 23:06:00,35,bergenfield,nj,us,40.927500,-73.997778,other,The W shaped object contained no lights&#44 pr...,2003-11-22,23:06:00
12317,2003-11-22 23:20:00,600,philadelphia,pa,us,39.952222,-75.164167,changing,Ball lights form circles and rotate. Two grou...,2003-11-22,23:20:00
12318,2003-11-22 23:30:00,30,colorado springs,co,us,38.833889,-104.820833,triangle,Triangle shaped&#44 no lights&#44 clear&#44 li...,2003-11-22,23:30:00

In [26]:
observ_three['shape'].unique()

array(['disk', 'light', 'circle', 'triangle', 'other', 'unknown',
       'changing'], dtype=object)

In [27]:
three = observ_three.to_json(orient="records")
with open("./Resources/dateThree.json", "w") as outfile:
    outfile.write(three)

In [28]:
observ_four = data.loc[data.date == valid_dates[3]].sort_values(by="time")

In [29]:
observ_four

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
39720,2007-04-29 11:30:00,180,tampa,fl,us,27.947222,-82.458611,oval,2 crafts seen gliding over city,2007-04-29,11:30:00
39721,2007-04-29 15:30:00,1800,cape coral,fl,us,26.562500,-81.949722,cylinder,Was this white cylinder with fins a weather ba...,2007-04-29,15:30:00
39722,2007-04-29 17:00:00,180,portland,or,us,45.523611,-122.675000,circle,fast moving object that was gone when i looke...,2007-04-29,17:00:00
39723,2007-04-29 20:00:00,15,north ridgeville,oh,us,41.389444,-82.019167,unknown,Red flash followed by small black object that ...,2007-04-29,20:00:00
39724,2007-04-29 20:50:00,60,boonsboro,md,us,39.506111,-77.652778,disk,UFO observed near Boonsboro&#44 MD in the even...,2007-04-29,20:50:00
39725,2007-04-29 21:00:00,300,north kingstown,ri,us,41.550000,-71.466667,triangle,I live on Annaquatucket rd in NK&#44 RI I was ...,2007-04-29,21:00:00
39726,2007-04-29 21:39:00,3,windsor (canada),on,ca,45.583333,-72.000000,formation,Three white lights fly north over Detroit&#44 ...,2007-04-29,21:39:00
39727,2007-04-29 21:45:00,120,boonsboro,md,us,39.506111,-77.652778,rectangle,Square lights above South Mountain in Boonsbor...,2007-04-29,21:45:00
39728,2007-04-29 21:45:00,2,port clinton,oh,us,41.511944,-82.937778,light,Two lights slowly flying north to west near sh...,2007-04-29,21:45:00
39729,2007-04-29 22:00:00,180,lancaster (uk/england).,ms,gb,54.066667,-2.833333,light,ORANGE LIGHT OVER IRISH SEA IN UK. SEEN TO ACC...,2007-04-29,22:00:00
39730,2007-04-29 22:05:00,15,elwood,il,us,41.403889,-88.111667,unknown,UFO sound only,2007-04-29,22:05:00
39731,2007-04-29 22:15:00,300,kingston (canada),on,ca,44.233333,-76.483333,other,bright light over city for 5minutes ((NUFORC ...,2007-04-29,22:15:00
39732,2007-04-29 23:00:00,900,piscataway,nj,us,40.499167,-74.399444,light,very fast light zipping in the sky and then a ...,2007-04-29,23:00:00
39733,2007-04-29 23:00:00,3600,warminster,pa,us,40.206667,-75.100000,triangle,moving very slow. heading south towards willow...,2007-04-29,23:00:00

In [30]:
observ_four['shape'].unique()

array(['oval', 'cylinder', 'circle', 'unknown', 'disk', 'triangle',
       'formation', 'rectangle', 'light', 'other'], dtype=object)

In [31]:
four = observ_four.to_json(orient="records")
with open("./Resources/dateFour.json", "w") as outfile:
    outfile.write(four)

In [32]:
observ_five = data.loc[data.date == valid_dates[4]].sort_values(by="time")

In [33]:
observ_five

,timestamp,duration (seconds),city,state,country,latitude,longitude,shape,comments,date,time
6201,2013-10-03 00:10:00,300,athens,ga,us,33.960833,-83.378056,triangle,Triangle-shaped object the size of a go-kart w...,2013-10-03,00:10:00
6202,2013-10-03 01:30:00,25,baltimore (city line),md,us,39.290278,-76.612500,light,On the evening of September 3rd&#44 I was smok...,2013-10-03,01:30:00
6203,2013-10-03 02:00:00,25,waterbury,vt,us,44.337778,-72.756667,light,Two bright glowing objects that were parallel ...,2013-10-03,02:00:00
6204,2013-10-03 04:30:00,10,newtown,pa,us,40.229167,-74.937222,flash,3 flashes with projectile trail leaving each.....,2013-10-03,04:30:00
6205,2013-10-03 05:30:00,900,rex,ga,us,33.591944,-84.270000,circle,Hovering craft near Rex Georgia.,2013-10-03,05:30:00
6206,2013-10-03 15:30:00,120,naples,fl,us,26.141667,-81.795000,rectangle,oct&#443&#442013&#44 3:30 pm&#44 cresent shape...,2013-10-03,15:30:00
6207,2013-10-03 19:40:00,1800,portland,or,us,45.523611,-122.675000,other,Saw Oct 3 2013 total of 15 craft with 5 lower ...,2013-10-03,19:40:00
6208,2013-10-03 19:55:00,120,barre,vt,us,44.196944,-72.502500,triangle,Object with triangle pattern lights&#44 two wh...,2013-10-03,19:55:00
6210,2013-10-03 20:00:00,300,somerset,pa,us,40.008333,-79.078333,fireball,4 fireballs in formation beam across Somerset&...,2013-10-03,20:00:00
6211,2013-10-03 20:36:00,3,toronto (canada),on,ca,43.666667,-79.416667,oval,Oval shaped silent craft flying extremly fast ...,2013-10-03,20:36:00
6212,2013-10-03 20:55:00,30,covington,va,us,37.793333,-79.994167,circle,Blue/green light flashing on a round object ov...,2013-10-03,20:55:00
6213,2013-10-03 21:00:00,3,louisburg,nc,us,36.098889,-78.301389,circle,UFO sighted near Louisburg&#44 NC moving north...,2013-10-03,21:00:00
6214,2013-10-03 21:00:00,15,rocky river,oh,us,41.475556,-81.839444,fireball,Fireball seen across Cleveland sky.,2013-10-03,21:00:00
6215,2013-10-03 21:23:00,4,harrington,wa,us,47.481111,-118.253333,light,Adult male witnesses two peculiar lights movin...,2013-10-03,21:23:00
6216,2013-10-03 22:00:00,30,cue (western australia) (australia),wa,au,-27.423950,117.897392,light,Bright flashing moving light stops moving then...,2013-10-03,22:00:00
6217,2013-10-03 22:00:00,30,wilmington,oh,us,39.445278,-83.828611,fireball,Looked like a falling star at first then start...,2013-10-03,22:00:00
6218,2013-10-03 22:15:00,2,clarksville,ar,us,35.471389,-93.466389,circle,Solid orange circle/orb streaked through the n...,2013-10-03,22:15:00
6219,2013-10-03 23:00:00,600,diamond springs,ca,us,38.694722,-120.813889,circle,Orange balls are everywhere.,2013-10-03,23:00:00
6220,2013-10-03 23:00:00,120,philadelphia,pa,us,39.952222,-75.164167,fireball,2 fireball objects over philly.,2013-10-03,23:00:00

In [34]:
observ_five['shape'].unique()

array(['triangle', 'light', 'flash', 'circle', 'rectangle', 'other',
       'fireball', 'oval'], dtype=object)

In [35]:
five = observ_five.to_json(orient="records")
with open("./Resources/dateFive.json", "w") as outfile:
    outfile.write(five)